<div class = "container">
    <div class = "row well">
        <div class = "col-md-3 team-sidebar">
            <%= image_tag @team.avatar %>
            <br/>
            <br/>
            <% if current_user.id == @team.user_id %>
                <div class = "well admin-well">
                    <h3>Admin Panel</h3>
                    <%= link_to "Edit Team", edit_team_path(id: @team.id), class: "btn btn-warning btn-block" %>
                    <%= link_to "Delete Team", edit_team_path(id: @team.id), class: "btn btn-danger btn-block" %>
                </div>
            <% end %>
            <p><%= @team.description %></p>
        </div>
        <div class = "col-md-6">
            <h1><%= @team.name %></h1>
            <h2>Team Members</h2>
            <div class = "row team-member-div">
                <% @team_members.each do |member| %>
                    <%= link_to user_path(id: member.user_id) do %>
                        <div class = "col-md-4 team-member-box">
                            <%= image_tag member.avatar %>
                            <h4><%= member.username %></h4>
                            <% if member.user_id == @team.user_id %>
                                <span class = "label label-warning">Captain</span>
                            <% end %>
                            <% if member.user_id == current_user.id %>
                                <br/><br/><%= link_to "Leave Team", '#', class: "btn btn-danger" %>
                            <% elsif current_user.id == @team.user_id %>
                                <br/><br/><%= link_to "Remove Player", '#', class: "btn btn-danger" %>
                            <% end %>
                        </div>
                        
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
</div>