<div class = "container">
    <div class = "row">
        <div class = "col-md-8 col-md-offset-2">
            <h1>Messages</h1>
            <% @messages.each do |m| %>
                <div class = "well well-inbox">
                    <div class = "row">
                        <div class = "col-md-8">
                           <h4><%= m.subject %></h4>
                           <p>&emsp;<%= m.body%></p> 
                        </div>
                        <div class = "col-md-2 text-center">
                            <%= form_for m, url: user_message_path(user_id: current_user.profile.user_id, id: m.id), :html => { :multipart => true } do |f| %>
                                <%= f.hidden_field :response, value: "accept" %>
                                <%= submit_tag( "Accept", class: "btn btn-success" ) %>
                            <% end %>
                        </div>
                        <div class = "col-md-2 text-center">
                            <%= form_for m, url: user_message_path(user_id: current_user.profile.user_id, id: m.id), :html => { :multipart => true } do |f| %>
                                <%= f.hidden_field :response, value: "decline" %>
                                <%= submit_tag( "Decline", class: "btn btn-danger" ) %>
                            <% end %>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>