<%= form_for @profile, url: user_profile_path, :html => { :multipart => true } do |f| %>
    <%= hidden_field(:type, "submit") %>
    <div class = 'form-group'>
        <%= f.label :username %>
        <%= f.text_field :username, class: 'form-control' %>
    </div>
    <div class = 'form-group'>
        <%= f.label :glyphtag %>
        <%= f.text_field :glyphtag, class: 'form-control' %>
    </div>
    <div class = 'form-group'>
        <%= f.label :favorite_role %>
        <%= f.select :favorite_role,['Firepower', 'Frontline', 'Support', "Generalist"], {}, class: 'form-control' %>
    </div>
    <%  
        select_fields = Array.new()
        @freelancers.each do |char|
            select_fields << [char.name, char.id]
        end 
        select_fields << ["None", 0]
    %>
    <div class = 'form-group'>
        <%= f.label :favorite_freelancer %>
        <%= f.select :favorite_freelancer, select_fields, {}, class: 'form-control' %>
    </div>
    <div class = 'form-group'>
        <%= f.label :bio %>
        <%= f.text_area :bio, class: 'form-control' %>
    </div>
    <div class = 'form-group'>
        <%= f.label :avatar %>
        <%= f.file_field :avatar, class: 'form-control' %>
    </div>
    <div class = 'form-group'>
        <%= f.submit "Update Profile", class: "btn btn-primary" %>
    </div>
    
<% end %>