<div class = 'container'>
    <div class = 'row'>
        <div class='col-md-3 text-center'>
            <%= image_tag @user.profile.avatar.url, class: 'avatar-show-img' %>
        </div>
        <div class='col-md-6'>
            <h1><%= @user.profile.username %></h1>
            <h2><%= @user.profile.favorite_role %></h2>
            <h3><%= @user.profile.favorite_freelancer %></h3>
            <br/>
            <div class = 'well profile-block profile-description'>
                <h3>About Me</h3>
                <%= @user.profile.bio %>
            </div>
        </div>
    </div>
</div>