<div class = 'container'>
    <div class = 'row well'>
        <div class='col-md-2 text-center'>
            <%= image_tag @user.profile.avatar.url, class: 'avatar-show-img' %>
            <% if user_signed_in? then current_user.id == @user.id %>
                <br/>
                <br/>
                <%= link_to "Edit Your Profile", '#', class: 'btn btn-info btn-block' %>
                <%= link_to "Edit Your Account", '#', class: 'btn btn-warning btn-block' %>
            <% end %>
        </div>
        <div class='col-md-6'>
            <div class = 'row'>
                <div class='col-md-6'>
                    <h1><%= @user.profile.username %></h1>
                </div>
                <div class = 'col-md-6'>
                    <div class = 'profile-title'>
                        <h4 class = 'text-center'><%= @user.profile.favorite_role %>&emsp;<%= image_tag @freelancer.image_url, class: "profile-fl-pic" %>&emsp;<%= @freelancer.name %></h4>
                    </div>
                </div>
            </div>
            <br/>
            <div class = 'well profile-block profile-description'>
                <h3>About Me</h3>
                <%= @user.profile.bio %>
            </div>
        </div>
    </div>
</div>