<!--<div class="container-fluid text-center home-callout">
    <h1>Welcome to Prep Phase</h1>
    <h3>The home page for all your Atlas Reactor needs!</h3>
</div> -->
<div class="container home-sign-up-links">
    <div class="row">
            <div class="col-md-8">
                <div class="well well-home row">
                    <h3 class="text-center">Freelancers</h3>
                    <div class = "text-center">
                    <% @freelancers.each do |char| %>
                        <%= link_to freelancer_path(id: char.id) do %>
                            <div class = "freelancer-img"><%= image_tag char.image_url, class: "grn-border" %></div>
                        <% end %>
                    <% end %>
                    </div>
                </div>
                <div class="well well-home row">
                    <h2 class="text-center">Top Guides</h2>
                    <% 6.times do |x| %>
                        <div class = "col-md-4 grn-border home-guide-box">
                            <div class = "col-sm-4">
                                <div class = "freelancer-img grn-border"></div>
                            </div>
                            <div class = "col-sm-8">
                                <div class = "home-guide-text">
                                    <h4>Guide <%= x + 1 %></h4>
                                    <span>By User</span>
                                </div>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
            <div class="col-md-4">
                <div class="well well-home">
                    <% if user_signed_in? %>
                        <% if current_user.profile %>
                            <h2 class="text-center">Get Involved</h2>
                            <%= link_to "Create a Guide", '#', class: 'btn btn-block btn-info' %>
                            <%= link_to "Join the PPL", ppl_path, class: 'btn btn-block btn-success' %>
                        <% else %>
                            <h2 class = "text-center">Your Profile</h2>
                            <p>Create your profile to start taking part in the community!</p>
                            <%= link_to "Create Your Profile!", new_user_profile_path(user_id: current_user.id), class: 'btn btn-primary btn-lg btn-block' %>
                        <% end %>
                    <% else %>
                        <h2 class="text-center">Sign Up</h2>
                        <h4>Sign up now to become a member of the Prep Phase community,
                        allowing you to create guides, join the Prep Phase League and more!</h4>
                        <%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-lg btn-block" %>
                    <% end %>
                </div>
                <div class = "well well-home">
                    <h2>PPL Leaderboard</h2>
                    <ul>
                        <% 8.times do |x| %>
                            <li class = "lb-team row">
                                <div class = "col-sm-2">
                                    <span class = "freelancer-img grn-border"></span>
                                </div>
                                <div class = "col-sm-7 col-sm-offset-1">
                                    <h4>Team <%= x + 1 %></h4>
                                </div>
                            </li>
                        <% end %>
                    </ul>
                </div>
            </div>
            
    </div>
</div>