<div class = "container">
    <div class = "row">
        <div class = "col-md-10 col-md-offset-1">
            <h1><%= @char_data[:name] %></h1>
            <div class = "row well">
                <div class = "col-md-8">
                    <p class = "description-box"><%= @char_data[:full_desc] %></p>
                    <p>Role: <%= @char_data[:role] %></p>
                    <p>Faction: <%= @char_data[:faction] %></p>
                    <% if user_signed_in? %>
                        <% if current_user.user_type == "admin" %>
                            <%= link_to "Edit Freelancer", edit_freelancer_path, class: "btn btn-block btn-info" %>
                        <% end %>
                    <% end %>
                </div>
                <div class = "col-md-4">
                    <%= image_tag @char_data[:full_img], class: "freelancer-img grn-border" %>
                </div>
            </div>
            <h2>Abilities</h2>
            <div class = "row well">
                <% x = 0 %>
                <% @freelancer.abilities.each do |ab| %>
                    <% x += 1 %>
                    <div class = "row ability-box">
                        <div class ="ability-img ability_img_<%= x %> col-md-3" 
                            style="background-image:url(<%= @char_data[:ability_img] %>);">
                        </div>
                        <div class = "col-md-6">
                            <h3><%= @char_data[:ability][x][:name] %></h3>
                            <p>
                            <%= @char_data[:ability][x][:description] %><br/>
                            <%= @char_data[:ability][x][:phase] %><br/>
                            <% if ab.damage? && ab.damage != "0 "%>
                                Damage: <%= ab.damage %><br/> 
                            <% end %>
                            <% if ab.heal? && ab.heal != "0" %>
                                Heal: <%= ab.heal %><br/> 
                            <% end %>
                            <% if ab.shield? && ab.shield != "0" %>
                                Shield: <%= ab.shield %><br/> 
                            <% end %>
                            <% if ab.range? && ab.range != "0" %>
                                Range: <%= ab.range %><br/> 
                            <% end %>
                            <% if ab.cooldown? %>
                                <% if ab.cooldown != "0" %>
                                    Cooldown: <%= ab.cooldown %><br/>
                                <% else %>
                                    No Cooldown<br/>
                                <% end %>
                            <% end %>
                            </p>
                        </div>
                        <div class = "col-md-3 ability-video-box">
                            <%= video_tag @char_data[:ability][x][:video], controls: true, class: "ability-video grn-border" %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>